.wi-1,.wi-2{fill:#1f1f1f;}.wi-1{stroke:#1f1f1f;stroke-miterlimit:10;}
.carousel-container {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  display: flex;
  align-items: center;
  height: 100vh; /* Set the height as needed */
}

.carousel {
  display: flex;
  flex-direction: column;
  scroll-snap-type: y mandatory;
}

.carousel-item {
  flex: 0 0 auto;
  scroll-snap-align: center;
  box-sizing: border-box;
}
